body {
    background-color: rgb(44, 44, 167)!important;
}

.container-fluid {
    min-height: 5vh;
}

.container {
    min-height: 95vh;
    background-color: rgb(44, 44, 167)!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(44, 44, 167, 0.4);
}

.bg-success, .bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 20px;
}

.progress {
    --bs-progress-bar-bg:rgba(44, 44, 167, 0.8) !important;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}